.gdoc-nav__list li ul li {
    list-style: decimal-leading-zero;
    margin-left: 1.2rem;
}

.gdoc-header {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 39%, rgba(0,125,255,1) 100%);
    padding-top: 0.5rem;
    color: #333;
    border-bottom-width: 2px;
    border-bottom-color: #ddd;
    padding: 0;
}

.gdoc-brand__img {
    height: 4rem;
}

.gdoc-header__link * {
    color: #555;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.gdoc-footer {
    background: #fafafa;
    color: #888;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.gdoc-footer__item {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}